/* Makes centered content wider */
@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: 70%;
  }
  .md-sidebar--primary {
    left: 0;
  }
  .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;   
  }
}

/* Details / summary blocks in green color */
.md-typeset .admonition,
.md-typeset details {
 background-color:var(--md-admonition-bg-color);
 border:.05rem solid #009485;
 border-radius:.2rem;
 box-shadow:var(--md-shadow-z1);
 color:var(--md-admonition-fg-color);
 display:flow-root;
 font-size:.64rem;
 margin:1.5625em 0;
 padding:0 .6rem;
 page-break-inside:avoid
}

.md-typeset .admonition-title,
.md-typeset summary {
 background-color:#44ffb61a;
 border:none;
 font-weight:700;
 margin:0 -.6rem;
 padding-bottom:.4rem;
 padding-top:.4rem;
 position:relative
}

.md-typeset .admonition-title:before,
.md-typeset summary:before {
 background-color:#009485;
 content:"";
 height:1rem;
 -webkit-mask-image:var(--md-admonition-icon--note);
 mask-image:var(--md-admonition-icon--note);
 -webkit-mask-position:center;
 mask-position:center;
 -webkit-mask-repeat:no-repeat;
 mask-repeat:no-repeat;
 -webkit-mask-size:contain;
 mask-size:contain;
 position:absolute;
 top:.625em;
 width:1rem
}

/* Vertical lines before and after center section */
.md-nav--primary{
    border-right: 1px solid rgba(66, 68, 84, 1)
}

.md-nav--secondary{
    border-left: 1px solid rgba(66, 68, 84, 1)
}

.md-nav__item > .md-nav > .md-nav__list {
  margin-left: 0.5rem;
}

/* Nav buttons bold and underlined */
.md-tabs__link {
  color: #fff;
  font-weight: bold;
}

.md-tabs__link:hover {
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
}

.md-tabs__link--active {
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
}

/* Logo bigger */
@media (min-width: 76.25em) {
  .md-header__button.md-logo {
    position: absolute;
    top: 0;
    margin-left: -10.4rem;
  }
  .md-header .md-grid {
    padding-left: -10rem;
  }
  .md-header__button.md-logo img {
    height: 3.2rem !important;
  }
  .md-header__title {
    margin-left: 2.8rem !important;
  }
  .md-tabs__list {
    margin-left: 2.4rem !important;
  }
}

/* Table 100% width */

.md-typeset__table {
   min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}

green { color: #00ccb8 }